:root {
  --font-size: 10px;

  --border-radius: 3px;
}

body {
  text-align: center;
  margin: 0 auto;
  font-size: 10px;
  margin: 0.1rem;
}
main {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}

.generate {
  font-size: 1.6rem;
  cursor: pointer;
  background-color: rgb(209, 209, 209);
  color: rgba(189, 17, 17, 0.89);
  width: 18rem;
  height: 2rem;
  border: 2px solid rgba(189, 17, 17, 0.89);
  border-radius: var(--border-radius);
}

.topresults {
  font-size: 0.8rem;
  border: 2px solid rgba(26, 0, 170, 0.904);
  float: left;
  position: absolute;
  top: 2.35rem;
  border-radius: var(--border-radius);
}
.topresults2 {
  font-size: 0.8rem;
  border: 2px solid rgba(26, 0, 170, 0.904);
  color: rgba(26, 0, 170, 0.904);
  border-radius: var(--border-radius);
  margin: 0.1rem;
  background-color: rgb(209, 209, 209);
  width: 3.3rem;
}

.hidden {
  display: none !important;
}

.buttonresults {
  display: flex;
  flex-direction: column;
}
.main-content {
  display: flex;
  justify-content: flex-start;
}

.grid-container {
  margin-left: 4.2rem;

  display: grid;
  float: right;
}

.grid-element {
  background-color: rgb(209, 209, 209);
  padding: 0.3rem;
  color: rgba(14, 99, 14, 0.753);
  border: 2px solid rgba(14, 99, 14, 0.753);
  margin: 0.15rem;
  border-radius: var(--border-radius);
  font-size: 1.1rem;
}

.grid-container--fit {
  grid-template-columns: repeat(auto-fit, minmax(13rem, 13rem));
  margin-top: 0.1rem;
}
