:root {
  --border-radius: 3px;
}

body {
  text-align: center;
  margin: 0 auto;
  margin: 0.1rem;
}
main {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}

.generate {
  font-size: 21px;
  cursor: pointer;
  background-color: rgb(209, 209, 209);
  color: rgba(189, 17, 17, 0.89);
  border: 2px solid rgba(189, 17, 17, 0.89);
  border-radius: var(--border-radius);
}

.theresults {
}

.topresults {
  font-size: 16px;
  border: 2px solid rgba(26, 0, 170, 0.904);
  float: left;
  border-radius: var(--border-radius);
  max-width: 20%;
  margin: 2px;
  min-width: 90px;
}
.topresults2 {
  font-size: 13px;
  border: 2px solid rgba(26, 0, 170, 0.904);
  color: rgba(26, 0, 170, 0.904);
  border-radius: var(--border-radius);
  margin: 1px;
  padding: 2px;
  background-color: rgb(209, 209, 209);
}

.hidden {
  display: none !important;
}

.buttonresults {
  display: flex;
  flex-direction: column;
}
.main-content {
  display: flex;
  justify-content: flex-start;
}

.grid-container {
  display: grid;
}

.grid-element {
  background-color: rgb(209, 209, 209);
  padding: 2px;
  color: rgba(14, 99, 14, 0.753);
  border: 2px solid rgba(14, 99, 14, 0.753);
  margin: 1px;
  border-radius: var(--border-radius);
  font-size: 13px;
}

.grid-container--fit {
  grid-template-columns: repeat(auto-fit, minmax(150px, 150px));
  margin-top: 2px;
}
