:root {
  --font-size: 10px;
  --primary-hue: 270;

  --primary-color: hsl(var(--primary-hue), 50%, 50%);
  --primary-background-text: #fff;
  --text-color: #333;

  --primary-color-darker: hsl(var(--primary-hue), 50%, 40%);

  --border-radius: 3px;
}

body {
  margin: 0 auto;
  text-align: center;

  margin: 0.1rem;
}
main {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}

.generate {
  font-size: 1.2rem;
  cursor: pointer;
  background-color: rgb(209, 209, 209);
  color: rgba(189, 17, 17, 0.89);
  width: 15rem;
  height: 2rem;
  border: 2px solid rgba(189, 17, 17, 0.89);
  border-radius: var(--border-radius);
}

.topresults {
  font-size: 1rem;
  border: 2px solid rgba(26, 0, 170, 0.904);
  max-width: 5rem;
  float: left;
  position: absolute;
  top: 2.3rem;
  border-radius: var(--border-radius);
}
.topresults2 {
  border: 2px solid rgba(26, 0, 170, 0.904);
  color: rgba(26, 0, 170, 0.904);
  padding: 0.1rem;
  border-radius: var(--border-radius);
  margin: 0.1rem;
  background-color: rgb(209, 209, 209);
}

.hidden {
  display: none !important;
}

.buttonresults {
  display: flex;
  flex-direction: column;
}
.main-content {
  display: flex;
  justify-content: flex-start;
}

.grid-container {
  margin-left: 5.4rem;

  display: grid;
  float: right;
}

.grid-element {
  background-color: rgb(209, 209, 209);
  padding: 0.3rem;
  color: rgba(14, 99, 14, 0.753);
  border: 2px solid rgba(14, 99, 14, 0.753);
  margin: 0.15rem;
  border-radius: var(--border-radius);
  font-size: 1.1rem;
}

.grid-container--fit {
  grid-template-columns: repeat(auto-fit, minmax(13rem, 13rem));
  margin-top: 0.1rem;
}
