main {
  margin: 0 auto;
  text-align: center;
}

.generate {
  font-size: 2rem;
  cursor: pointer;
  margin-bottom: 10px;
  color: rgba(150, 136, 18, 0.562);
}

.theresults {
  margin: 0 auto;
  max-width: 1000px;
  display: grid;
  flex-direction: column;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.theresults2 {
  font-size: 25px;
  margin: 4px;
  color: rgba(23, 110, 89, 0.562);
}

.topresults {
  position: absolute;
  top: 1%;
  left: 1%;
}
.topresults2 {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  flex-direction: column;
  align-items: stretch;
  border: 1px solid black;
  color: cornflowerblue;
  padding: 3px;
}
