body {
  margin: 200px auto;
}
div {
  font-size: 30px;
}
.container {
  height: 350px;
  width: 650px;
  margin: 0 auto;
  background-color: azure;
}
.container button {
  font-size: 40px;
}
.container span {
  font-size: 60px;
}
